/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-VariableFont_slnt,wght.ttf);
}

:root {
  --accent: #B8EF1C;
}

html {
  font-family: Inter;
  background: #F2F2F2;
  color: #333333;

}

nav {
  height: 8vh;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding-left: 4vw;
  padding-right: 4vw;
  font-weight: 400;
  font-size: 20px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background: #F2F2F2;
}

nav p {
  position: relative;
  bottom: -4vh;
}

nav span {
  color: var(--accent);
  font-weight: 600;
}
.bar {
  width: 22px;
  height: 2px;
  margin-bottom: 4px;
  background: #333333;
  border-radius: 20%;
}

.menu {
  position: relative;
  bottom: -4.5vh;
}

main {
  padding: 8vh 4vw 8vh 4vw;

}

.myPicture {
  width: 55vw;
  border-radius: 50%;
  float: right;
  margin-top: 8vh;
  margin-right: 6vw;
  margin-bottom: 25px;
}

.welcome {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  clear: right;
}

.name {
  font-weight: 700;
}

.main-note {
  position: absolute;
  bottom: 0;
}

.main-note p {
  font-weight: 400;
  font-size: 25px;
  color: #828282;
  margin-left: 13vw;
}

.arrow {
  margin-left: 44vw;
  margin-top: 20px;
}

.arrow-head {
  border: solid #828282;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
  box-sizing: border-box;
  transform: rotate(45deg);
}

.arrow-body {
  width: 2px;
  height: 30px;
  background: #828282;
  position: relative;
  top: -30px;
  left: 8px;
}
